<li class="item weapon flexcol toggle-on-click" data-toggle="item-description-{{weapon.id}}">
    <ul class="item-header item-control">
        <li class="item-img"><img src="{{weapon.img}}" title="{{weapon.name}}" width="32px" height="32px"/></li>
        <li class="item-name dice-picker" data-weapon-id="{{weapon.id}}">{{weapon.name}}</li>
        <li class="icon-stat-container">
            <i class="fas fa-arrows-alt-h" title="{{localize 'l5r5e.weapons.range'}}"> {{weapon.data.data.range}}</i>
            <i class="fas fa-tint" title="{{localize 'l5r5e.weapons.damage'}}"> {{weapon.data.data.damage}}</i>
            <i class="fas fa-skull" title="{{localize 'l5r5e.weapons.deadliness'}}"> {{weapon.data.data.deadliness}}</i>
        </li>
        {{#if editable}}
        <li data-item-id="{{weapon.id}}" class="item-edit" title="{{localize 'l5r5e.global.edit'}}"><i class="fas fa-edit"></i></li>
        <li data-item-id="{{weapon.id}}" class="item-delete" title="{{localize 'Delete'}}"><i class="fas fa-trash"></i></li>
        {{/if}}
    </ul>
    <ul class="item-properties">
        <li class="equip-readied-control" data-item-id="{{weapon.id}}" data-type="readied">
            <i class="i_readied fa{{^if weapon.data.data.readied}}r{{/if}} fa-check-circle" title="{{#if weapon.data.data.readied}}{{localize 'l5r5e.weapons.readied'}}{{else}}{{localize 'l5r5e.weapons.sheathed'}}{{/if}}"></i>
        </li>
        {{#each weapon.data.data.properties as |property id|}}
            <li>{{{property.name}}}</li>
        {{/each}}
    </ul>
    {{#if weapon.data.data.description}}
        <div class="item-description item-description-{{weapon.id}}">{{{weapon.data.data.description}}}</div>
    {{/if}}
</li>