<fieldset class="weapons-content">
    <legend class="section-header">
        {{localize 'l5r5e.weapons.title'}}
        {{#if options.editable}}
        <a data-item-type="weapon" data-item-equipped="true" class="weapon-control item-add" title="{{localize 'l5r5e.global.add'}}"><i class="fas fa-plus"></i></a>
        {{/if}}
    </legend>
    <ul class="item-list">
        {{#each actor.items as |item id|}}
            {{#ifCond (ifCond item.type '==' 'weapon') '&&' (ifCond item.data.data.equipped '==' true)}}
                {{> 'systems/l5r5e/templates/items/weapon/weapon-entry.html' weapon=item id=id editable=../options.editable}}
            {{/ifCond}}
        {{/each}}
    </ul>
</fieldset>