<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{data.img}}" data-edit="img" title="{{data.name}}" />
        <h1 class="charname"><input name="name" type="text" value="{{data.name}}" placeholder="Name" /></h1>
    </header>
    {{!-- Sheet Body --}}
    <section class="sheet-body">
        {{!-- Attributes Tab --}}
        <article class="attributes" data-group="primary" data-tab="attributes">
            <select name="data.ring">
                {{#select data.data.ring}}
                    {{#each data.ringsList as |obj|}}
                        <option value="{{obj.id}}">{{obj.label}}</option>
                    {{/each}}
                {{/select}}
            </select>
            <select class="attribute" name="data.peculiarity_type">
                {{#select data.data.peculiarity_type}}
                    {{#each data.subTypesList as |type|}}
                        <option value="{{type.id}}">{{type.label}}</option>
                    {{/each}}
                {{/select}}
            </select>
            <label class="cursus attribute-value checkbox">
                <input type="checkbox" name="data.in_curriculum" {{checked data.data.in_curriculum}} />
                {{localize 'l5r5e.advancements.curriculum'}}
            </label>
            <label class="attribute">
                {{localize 'l5r5e.advancements.spent'}}
                <input class="select-on-focus" type="number" name="data.xp_used" value="{{data.data.xp_used}}" data-dtype="Number" min="0" placeholder="0" />
            </label>
            <label class="attribute">
                {{localize 'l5r5e.rank' }}
                <input class="select-on-focus" type="number" name="data.rank" value="{{data.data.rank}}" data-dtype="Number" min="0" placeholder="0" />
            </label>
            <label class="attribute">
                {{localize 'l5r5e.bought_at_rank'}}
                <input class="select-on-focus" type="number" name="data.bought_at_rank" value="{{data.data.bought_at_rank}}" data-dtype="Number" min="0" placeholder="0" />
            </label>
            <label class="attribute full">
                {{localize 'l5r5e.types' }}
                <input type="text" name="data.types" value="{{data.data.types}}" />
            </label>
        </article>
        {{> 'systems/l5r5e/templates/items/item/item-infos.html'}}
    </section>
</form>