<li class="item peculiarity flexcol toggle-on-click" data-toggle="item-description-{{peculiarity.id}}" data-item-id="{{peculiarity.id}}">
    <ul class="item-header peculiarity-controls">
        <li class="item-img"><img src="{{peculiarity.img}}" title="{{peculiarity.name}}" width="32px" height="32px"/></li>
        <li class="item-name">{{peculiarity.name}}</li>
        {{#if editable}}
            <li data-item-id="{{peculiarity.id}}" class="item-control item-edit" title="{{localize 'l5r5e.global.edit'}}"><i class="fas fa-edit"></i></li>
            <li data-item-id="{{peculiarity.id}}" class="item-control item-delete" title="{{localize 'Delete'}}"><i class="fas fa-trash"></i></li>
        {{/if}}
    </ul>
    {{#if peculiarity.data.data.types}}
    <ul class="item-properties">
        <li>{{peculiarity.data.data.types}}</li>
    </ul>
    {{/if}}
    {{#if peculiarity.data.data.description}}
        <div class="item-description item-description-{{peculiarity.id}}">{{{peculiarity.data.data.description}}}</div>
    {{/if}}
</li>