<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{data.img}}" data-edit="img" title="{{data.name}}"/>
        <h1 class="charname"><input name="name" type="text" value="{{data.name}}" placeholder="Name"/></h1>
    </header>
    {{!-- Sheet Body --}}
    <section class="sheet-body">
        {{!-- Attributes Tab --}}
        <article class="attributes item-list" data-group="primary" data-tab="attributes">
            <label class="attribute">
                {{ localize 'l5r5e.advancements.rarity_modifier' }}
                <input class="select-on-focus" type="number" name="data.rarity_modifier" value="{{data.data.rarity_modifier}}" data-dtype="Number" min="0" placeholder="0"/>
            </label>
            <label class="attribute">
                {{ localize 'l5r5e.advancements.cost' }}
                <input class="select-on-focus" type="number" name="data.xp_cost" value="{{data.data.xp_cost}}" data-dtype="Number" min="0" placeholder="0"/>
            </label>
            <label class="attribute">
                {{ localize 'l5r5e.advancements.spent' }}
                <input class="select-on-focus" type="number" name="data.xp_used" value="{{data.data.xp_used}}" data-dtype="Number" min="0" placeholder="0"/>
            </label>
            <label class="attribute">
                {{ localize 'l5r5e.rank' }}
                <input class="select-on-focus" type="number" name="data.rank" value="{{data.data.rank}}" data-dtype="Number" min="0" placeholder="0"/>
            </label>
            <label class="attribute">
                {{ localize 'l5r5e.bought_at_rank' }}
                <input class="select-on-focus" type="number" name="data.bought_at_rank" value="{{data.data.bought_at_rank}}" data-dtype="Number" min="0" placeholder="0"/>
            </label>
            <label class="attribute item">
                {{ localize 'l5r5e.linked_property' }}
                {{#if data.linkedProperty}}
                <ul class="item-properties">
                    <li>
                        {{{ data.linkedProperty.name }}}
                        {{#if options.editable}}
                            <span data-item-id="{{data.linkedProperty.id}}" class="item-control linked-property-delete" title="{{localize 'Delete'}}"> <i class="fas fa-trash"></i></span>
                        {{/if}}
                    </li>
                </ul>
                {{else}}
                    -
                {{/if}}
            </label>
        </article>
        {{> 'systems/l5r5e/templates/items/item/item-infos.html'}}
    </section>
</form>