<fieldset class="properties">
    <legend class="section-header">{{localize 'l5r5e.properties'}}</legend>
    <ul class="item-list">
        {{#each properties as |property id|}}
            {{!-- {{#ifCond property.type '==' 'property'}} --}}
            {{> 'systems/l5r5e/templates/items/property/property-entry.html' property=property id=id editable=../options.editable}}
            {{!-- {{/ifCond}} --}}
        {{/each}}
    </ul>
</fieldset>