<li class="item property flexcol toggle-on-click" data-toggle="item-description-{{property.id}}" data-property-id="{{property.id}}">
    <ul class="item-header property-control">
        <li class="item-img"><img src="{{property.img}}" title="{{property.name}}" width="32px" height="32px"/></li>
        <li class="item-name">{{property.name}}</li>
        {{#if editable}}
            <li class="property-delete" title="{{localize 'Delete'}}"><i class="fas fa-trash"></i></li>
        {{/if}}
    </ul>
    {{#if property.data.data.description}}
        <div class="item-description item-description-{{property.id}}">{{{property.data.data.description}}}</div>
    {{/if}}
</li>