<li class="item title flexcol toggle-on-click" data-toggle="item-description-{{title._id}}" data-item-id="{{title._id}}">
    <ul class="item-header title-controls">
        <li class="item-img"><img src="{{title.img}}" title="{{title.name}}" width="24px" height="24px"/></li>
        <li class="item-name"><i class="i_{{title.data.ring}}" title="{{localizeRing title.data.ring}}"></i> {{title.name}}</li>
        {{#if editable}}
            <li data-item-id="{{title._id}}" class="item-control item-edit" title="{{localize 'l5r5e.global.edit'}}"><i class="fas fa-edit"></i></li>
            <li data-item-id="{{title._id}}" class="item-control item-delete" title="{{localize 'Delete'}}"><i class="fas fa-trash"></i></li>
        {{/if}}
    </ul>
    {{#if title.data.description}}
    <div class="item-description item-description-{{title._id}}">{{{title.data.description}}}</div>
    {{/if}}
</li>