&.npc {
    .sheet-header {
        h1 {
            &:before {
                top: -3.75rem;
            }
        }
        img {
            flex: 0 0 90px;
            height: 90px;
            width: 90px;
        }
        fieldset {
            flex: 1 1 100%;
            min-height: 2rem;
            width: 100%;
            margin: 0;
        }
        .header-fields {
            padding: 0;
        }
        .identity-wrapper {
            flex: 1 1 100%;
            h1 {
                margin: 0 0.25rem 1rem 1rem;
            }
            .identity-list {
                flex: 0 0 100%;
                display: flex;
                margin: 0.25rem 0 0.5rem;
                li {
                    flex: 1;
                    flex-wrap: wrap;
                    display: flex;
                    select {
                        width: 100%;
                        background: $l5r5e-white;
                        border: 0 none;
                        text-transform: capitalize;
                        color: $l5r5e-bold;
                        font-family: $font-primary;
                        font-weight: bold;
                        font-size: 1rem;
                        letter-spacing: 0.15rem;
                    }
                    i,
                    input {
                        font-size: 1.25rem;
                        height: 1.5rem;
                        line-height: 1.5rem;
                        width: 7.25rem;
                        margin: auto;
                        text-align: center;
                    }
                }
            }
        }
        .affinities {
            display: flex;
            flex-wrap: wrap;
            select {
                position: relative;
                background: transparent;
                border: 0 none;
                margin: 0;
                padding: 0;
                text-align: left;
                font-weight: bold;
                margin: 0 0 0.25rem 0;
                color: $l5r5e-label;
            }
            input {
                flex: 1rem;
                font-size: 1rem;
                height: 1.5rem;
            }
        }
        .social-content {
            margin-bottom: 0.5rem;
            .attitude {
                height: 1.5rem;
                padding-left: 0.25rem;
                input {
                    height: 1.5rem;
                    flex: 1;
                    margin-right: 0;
                }
            }
        }
    }
    .sheet-body {
        padding: 0;
    }
    .npc-skill {
        display: flex;
        width: 100%;
        line-height: 2rem;
        font-size: 0.75rem;
        margin: 0 0 0.5rem;
        text-align: center;
        li {
            flex: 1;
            padding: 0.25rem;
            text-transform: uppercase;
            color: $white;
            &:nth-child(1) {
                background: $l5r5e-void;
            }
            &:nth-child(2) {
                background: $l5r5e-earth;
            }
            &:nth-child(3) {
                background: $l5r5e-fire;
            }
            &:nth-child(4) {
                background: $l5r5e-air;
            }
            &:nth-child(5) {
                flex: 1.25;
                background: $l5r5e-water;
            }
        }
        input[type="number"] {
            float: right;
            font-size: 1.25rem;
            height: 2rem;
            width: 1rem;
            margin: 0;
            padding: 0;
            border: 0 none;
            background: transparent;
            color: $white;
        }
    }
    article {
        min-height: auto;
        fieldset,
        .checklist {
            flex: 0 0 calc(100% - 0.5rem);
        }
        .items-content {
            flex: 0 0 calc(100% - 0.5rem);
            margin: 1rem 0.25rem 0;
        }
        .weapons-content {
            flex: 1;
        }
        .initiative-wrapper {
            margin-bottom: 0.5rem;
        }
        &:last-child {
            padding-bottom: 1rem;
        }
        .techniques-wrapper {
            padding-left: 0.5rem;
            fieldset,
            .checklist {
                flex: 100%;
                margin: 0;
            }
        }
    }
    .npc-note {
        .editor {
            min-height: 6rem;
            max-height: 12rem;
        }
    }
    .narrative-note {
        flex: 0 0 calc(50% - 0.25rem);
    }
}
