<li class="skill-category-wrapper skill-category-content">
    <h4 class="section-header">{{localizeSkill categoryId 'title'}}</h4>
    <ul class="skill-category-skills-list">
        {{#each category as |skill id|}}
            {{> 'systems/l5r5e/templates/actors/character/skill.html' categoryId=../categoryId skill=skill skillId=id}}
        {{/each}}
    </ul>
    <ul class="skill-category-ring-actions">
        <li name="air" class="air"><i class="i_air"></i> {{localizeSkill categoryId 'air'}} </li>
        <li name="earth" class="earth"><i class="i_earth"></i> {{localizeSkill categoryId 'earth'}} </li>
        <li name="fire" class="fire"><i class="i_fire"></i> {{localizeSkill categoryId 'fire'}} </li>
        <li name="water" class="water"><i class="i_water"></i> {{localizeSkill categoryId 'water'}} </li>
        <li name="void" class="void"><i class="i_void"></i> {{localizeSkill categoryId 'void'}} </li>
    </ul>
</li>