<div class="narrative-content">
    <fieldset>
        <legend class="text-block-header">{{localize 'l5r5e.social.title'}}</legend>
        <label class="attribute-label">{{localize 'l5r5e.social.ninjo'}}
            <textarea type="text" name="data.social.ninjo">{{data.data.social.ninjo}}</textarea>
        </label>
        <label class="attribute-label">{{localize 'l5r5e.social.giri'}}
            <textarea type="text" name="data.social.giri">{{data.data.social.giri}}</textarea>
        </label>
    </fieldset>
    {{!-- Description (public) --}}
    <fieldset class="narrative-description">
        <legend class="text-block-header">{{localize 'l5r5e.description' }}</legend>
        {{editor content=data.data.description target="data.description" button=true editable=options.editable}}
    </fieldset>
</div>
<div class="narrative-list">
    <fieldset>
        <legend class="text-block-header">
            {{localize 'l5r5e.social.advantages'}}
            {{#if options.editable}}
            <a data-item-type="peculiarity" class="peculiarity-control item-add" title="{{localize 'l5r5e.global.add'}}"><i class="fas fa-plus"></i></a>
            {{/if}}
        </legend>
        <ul class="item-list">
            {{#each actor.items as |item id|}}
                {{#ifCond '["distinction","passion"]' 'includes' item.data.data.peculiarity_type}}
                    {{> 'systems/l5r5e/templates/items/peculiarity/peculiarity-entry.html' peculiarity=item id=id editable=../options.editable}}
                {{/ifCond}}
            {{/each}}
        </ul>
    </fieldset>
    <fieldset>
        <legend class="text-block-header">
            {{localize 'l5r5e.social.disadvantages' }}
            {{#if options.editable}}
            <a data-item-type="peculiarity" class="peculiarity-control item-add" title="{{localize 'l5r5e.global.add'}}"><i class="fas fa-plus"></i></a>
            {{/if}}
        </legend>
        <ul class="item-list">
            {{#each actor.items as |item id|}}
            {{#ifCond '["adversity","anxiety"]' 'includes' item.data.data.peculiarity_type}}
                    {{> 'systems/l5r5e/templates/items/peculiarity/peculiarity-entry.html' peculiarity=item id=id editable=../options.editable}}
                {{/ifCond}}
            {{/each}}
        </ul>
    </fieldset>
    {{!-- bonds --}}
    <fieldset>
        <legend class="text-block-header">
            {{localize 'l5r5e.social.bonds' }}
            {{#if options.editable}}
                <a data-item-type="bond" class="bond-control item-add" title="{{localize 'l5r5e.global.add'}}"><i class="fas fa-plus"></i></a>
            {{/if}}
        </legend>
        <ul class="item-list">
            {{#each actor.items as |bond id|}}
                {{#ifCond bond.data.type '==' 'bond'}}
                    {{> 'systems/l5r5e/templates/items/bond/bond-entry.html' bond=bond id=id editable=../options.editable}}
                {{/ifCond}}
            {{/each}}
        </ul>
    </fieldset>
</div>
{{!-- Notes (private) --}}
<fieldset class="narrative-note">
    <legend class="text-block-header">{{localize 'l5r5e.notes' }}</legend>
    {{editor content=data.data.notes target="data.notes" button=true editable=options.editable}}
</fieldset>