<div class="techniques-wrapper">
    {{!-- technique types --}}
    <div class="checklist">
        <i>{{localize 'l5r5e.techniques.type'}}</i>
        {{#each data.techniquesList as |technique|}}
            <label>
                <input type="checkbox" name="data.techniques.{{technique.id}}" {{checked (lookup ../data.data.techniques technique.id)}} />
                {{technique.label}}
            </label>
        {{/each}}
    </div>
    {{!-- technique list --}}
    {{#each data.splitTechniquesList as |list technique|}}
        <fieldset class="section-header flexrow">
            <legend class="technique-controls">
                {{localize (localize 'l5r5e.techniques.{technique}' technique=technique) }}
                {{#ifCond ../options.editable '&&' (lookup ../data.data.techniques technique)}}
                    <a data-item-type="technique" class="technique-control item-add" data-tech-type="{{technique}}" title="{{localize 'l5r5e.global.add'}}"><i class="fas fa-plus"></i></a>
                {{/ifCond}}
            </legend>
            <ul class="item-list">
                {{#each list as |item id|}}
                    {{> 'systems/l5r5e/templates/items/technique/technique-entry.html' technique=item editable=../../options.editable}}
                {{/each}}
            </ul>
        </fieldset>
    {{/each}}
    {{!-- signature scroll list --}}
    <fieldset class="section-header flexrow">
        <legend class="text-block-header">
            {{localize 'l5r5e.advancements.signature_scroll' }}
            {{#if options.editable}}
                <a data-item-type="signature_scroll" class="signature-scroll-control item-add" title="{{localize 'l5r5e.global.add'}}"><i class="fas fa-plus"></i></a>
            {{/if}}
        </legend>
        <ul class="item-list">
            {{#each actor.items as |scroll id|}}
                {{#ifCond scroll.data.type '==' 'signature_scroll'}}
                    {{> 'systems/l5r5e/templates/items/signature-scroll/signature-scroll-entry.html' scroll=scroll id=id editable=../options.editable}}
                {{/ifCond}}
            {{/each}}
        </ul>
    </fieldset>
</div>