{{#each data.splitItemsList as |cat type|}}
    <h3 class="toggle-on-click" data-toggle="inventory-item-list-{{type}}">
        {{localize (localize 'l5r5e.{type}s.title' type=type)}} ({{cat.length}})
        {{#if ../options.editable}}
            <a data-item-type="{{type}}" class="item-control item-add" title="{{localize 'l5r5e.global.add'}}"><i class="fas fa-plus"></i></a>
        {{/if}}
    </h3>
    <ul class="item-list inventory-item-list-{{type}}">
        {{#each cat as |item id|}}
            {{> 'systems/l5r5e/templates/items/item/item-entry.html' item=item id=id editable=../../options.editable}}
        {{/each}}
    </ul>
{{/each}}