<article class="tab infos active" data-group="primary" data-tab="infos">
    <fieldset>
        <legend class="text-block-header">{{localize 'l5r5e.description'}}</legend>
        {{editor content=data.data.description target="data.description" button=true owner=owner editable=editable}}
    </fieldset>
    <label class="reference">
        {{localize 'l5r5e.book_reference'}}
        <input type="text" name="data.book_reference" value="{{data.data.book_reference}}" />
    </label>
</article>