<label class="value">
    {{ localize 'l5r5e.quantity' }}
    <input class="select-on-focus" type="number" name="data.quantity" value="{{data.data.quantity}}" data-dtype="Number" min="0" placeholder="0"/>
</label>
<label class="value">
    {{ localize 'l5r5e.weight' }}
    <input class="select-on-focus" type="number" name="data.weight" value="{{data.data.weight}}" data-dtype="Number" min="0" placeholder="0"/>
</label>
<label class="value">
    {{ localize 'l5r5e.rarity' }}
    <input class="select-on-focus" type="number" name="data.rarity" value="{{data.data.rarity}}" data-dtype="Number" min="0" placeholder="0"/>
</label>
<label class="value">
    <i class="fas fa-coins"></i>
    <input class="select-on-focus" type="text" name="data.zeni" value="{{data.data.zeni}}" data-dtype="String" min="0" placeholder="0"/>
</label>