<ul class="identity-list">
    {{!-- Npc Type (minion / adversary) --}}
    <li>
        <select class="attribute-dtype" name="data.type">
            {{#select data.data.type}}
            {{#each data.data.types as |t|}}
                <option value="{{t.id}}">{{t.label}}</option>
            {{/each}}
            {{/select}}
        </select>
    </li>
    {{!-- Martial --}}
    <li>
        <i class="i_bushi"></i>
        <input class="centered-input select-on-focus" type="number" name="data.conflict_rank.martial" value="{{data.data.conflict_rank.martial}}" data-dtype="Number" min="0" placeholder="0"/>
    </li>
    {{!-- Social --}}
    <li>
        <i class="i_courtier"></i>
        <input class="centered-input select-on-focus" type="number" name="data.conflict_rank.social" value="{{data.data.conflict_rank.social}}" data-dtype="Number" min="0" placeholder="0"/>
    </li>
</ul>