<ul class="npc-skill">
    {{#each data.data.skills as |skillValue skillCatId|}}
        <li class="skill skill-wrapper">
            <label class="dice-picker" data-skillcat="{{skillCatId}}">
                {{localizeSkill skillCatId "title"}}
            </label>
            <input class="centered-input select-on-focus" id="skill_{{skillCatId}}" type="number" name="data.skills.{{skillCatId}}" value="{{skillValue}}" data-dtype="Number" min="0" max="9" placeholder="0"/>
        </li>
    {{/each}}
</ul>